.mk .lie-container {
    width: 300px;
    height: 150px;
  object-fit: cover;
/* font-size: small; */
}

.mk .data-container {
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 4fr;
}

.mk .part-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}   

.mk .red {
    color: red;
}

.mj .lie-container {
    display:flex;
    flex-direction: row;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

.mj .data-container {
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 4fr;
}

.mj .part-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}   

.mj .red {
    color: rgb(193, 72, 1);
    background-color: rgba(70, 57, 31, 0.245);
    font-style: italic;
    font-weight: bold;
}


.font1{
    font-weight: bold;
}

